*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.header__container {
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
}

.header__container .header__image {
  display: block;
  height: 100vh;
  margin: 0 auto;
  background: url(../img/milky-way-3840x2160-stars-4k-20311.jpg) no-repeat bottom center/cover;
}

.header__container .header__title--big {
  position: absolute;
  height: auto;
  width: 100%;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__title--big h1 {
  color: #fff;
  font-size: 2.2rem;
  opacity: 0;
  margin: 0 auto;
  padding: 0.5rem;
  text-shadow: 3px 3px 5px black;
}

@media (min-width: 460px) {
  .header__container .header__title--big h1 {
    font-size: 3rem;
  }
}

@media (min-width: 640px) {
  .header__container .header__title--big h1 {
    font-size: 4rem;
  }
}

@media (min-width: 800px) {
  .header__container .header__title--big h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  .header__container .header__title--big h1 {
    font-size: 7rem;
  }
}

.header__container .header__title--small {
  position: absolute;
  height: auto;
  width: 100%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__title--small h2 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  opacity: 0;
  margin: 0 auto;
  padding: 0.5rem;
  text-shadow: 3px 3px 5px black;
}

@media (min-width: 460px) {
  .header__container .header__title--small h2 {
    font-size: 1.1rem;
  }
}

@media (min-width: 640px) {
  .header__container .header__title--small h2 {
    font-size: 1.4rem;
  }
}

@media (min-width: 800px) {
  .header__container .header__title--small h2 {
    font-size: 1.7rem;
  }
}

@media (min-width: 1200px) {
  .header__container .header__title--small h2 {
    font-size: 1.9rem;
  }
}

@-webkit-keyframes growText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes growText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__title--big-grow h1 {
  -webkit-animation-name: growText;
          animation-name: growText;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header__title--small-grow h2 {
  -webkit-animation-name: growText;
          animation-name: growText;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider__container {
  width: 100%;
  overflow: hidden;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 5px solid #bcc6cf;
  border-bottom: 5px solid #bcc6cf;
}

@media (min-width: 800px) {
  .slider__container {
    border: 0px;
    height: 45vw;
  }
}

.slider__container .slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.5rem;
  margin: 0rem;
  width: 100%;
}

.slider__container .slider__wrapper p {
  padding: 0.4rem;
  min-width: 7rem;
  margin: 0rem;
  color: #fff;
}

.slider__container .slider__wrapper .slider__button--red {
  background: rgba(139, 0, 0, 0.6);
  width: 5rem;
  height: 3rem;
  margin: 5px 10px;
  -webkit-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.5);
  border: 0px;
  border-radius: 5%;
  color: #fff;
  font-size: large;
  -webkit-transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s, -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  cursor: pointer;
}

.slider__container .slider__wrapper .slider__button--red:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.slider__container .slider__wrapper .slider__button--red:hover {
  background: rgba(190, 0, 0, 0.6);
}

.slider__container .slider__wrapper .slider__button--blue {
  background: rgba(0, 0, 139, 0.6);
  width: 5rem;
  height: 3rem;
  margin: 5px 10px;
  -webkit-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.5);
  border: 0px;
  border-radius: 5%;
  color: #fff;
  font-size: large;
  -webkit-transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s, -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  cursor: pointer;
}

.slider__container .slider__wrapper .slider__button--blue:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.slider__container .slider__wrapper .slider__button--blue:hover {
  background: rgba(12, 12, 255, 0.6);
}

.slider__container h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.5rem;
  margin: 0rem;
  color: #fff;
}

.slider__container h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.5rem;
  margin: 0rem;
  color: #fff;
}

.gallery {
  border-top: 5px solid #bcc6cf;
}

.gallery__title {
  text-align: center;
}

.gallery__title h2 {
  padding: 0.2rem;
  font-size: 1.3rem;
}

.gallery__container {
  width: 100%;
  overflow: hidden;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3b4751;
}

@media (min-width: 800px) {
  .gallery__container {
    height: 45vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top: 5px solid #bcc6cf;
    border-bottom: 5px solid #bcc6cf;
  }
}

.gallery__container .gallery__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 5px solid #bcc6cf;
}

@media (min-width: 800px) {
  .gallery__container .gallery__img {
    border: 0px;
    height: 90%;
  }
}

.gallery__container .gallery__img .gallery__picture {
  max-height: 100%;
  max-width: 100%;
  border: 5px solid #bcc6cf;
}

.gallery__container p {
  margin: 0;
  text-align: center;
}

.article__container {
  width: 100%;
  overflow: hidden;
  height: auto;
}

.article__container .article__title {
  text-align: center;
  padding: 0.5rem;
}

.article__container .article__text {
  text-align: justify;
  padding: 0.5rem;
}

.footer-info__container {
  padding-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  height: auto;
  background-color: #3b4751;
  border-top: 5px solid #bcc6cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-info__container .footer-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.5rem;
  margin: 0rem;
  width: 100%;
  padding: 0.5rem;
}

.footer-info__container .footer-info__title h2 {
  padding: 0.5rem;
  color: #fff;
}

.footer-info__container .footer-info__title .footer-info__button--temp {
  background: rgba(139, 0, 0, 0.6);
  width: 5rem;
  height: 5rem;
  margin: 5px 10px;
  -webkit-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.5);
  border: 0px;
  border-radius: 5%;
  color: #fff;
  font-size: large;
  -webkit-transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s, -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  cursor: pointer;
}

.footer-info__container .footer-info__title .footer-info__button--temp:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.footer-info__container .footer-info__title .footer-info__button--temp:hover {
  background: rgba(190, 0, 0, 0.6);
}

.footer-info__container .footer-info__title .footer-info__button--wind {
  background: rgba(0, 0, 139, 0.6);
  width: 5rem;
  height: 5rem;
  margin: 5px 10px;
  -webkit-box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.5);
  border: 0px;
  border-radius: 5%;
  color: #fff;
  font-size: large;
  -webkit-transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s, -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  cursor: pointer;
}

.footer-info__container .footer-info__title .footer-info__button--wind:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.footer-info__container .footer-info__title .footer-info__button--wind:hover {
  background: rgba(12, 12, 255, 0.6);
}

.footer-info__container .footer-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10rem;
  width: 9rem;
  margin: 5px;
  border-radius: 5%;
  background-color: lightgray;
}

.footer-info__container .footer-info__box p {
  font-size: 1rem;
  margin: 0.1rem;
  padding-left: 0.2rem;
}

.footer-info__container .footer-info__box .footer-info__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer-info__container .footer-info__box h3 {
  margin: 0.1rem;
}
/*# sourceMappingURL=style.css.map */