.gallery__container {
   @include containers($height: 50vw);
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: darkgrey;
   flex-direction: column;
   .gallery__picture {
      max-height: 90%;
   }
   p {
      margin: 0;
      text-align: center;
   }
}
