.header__container {
   @include containers($height: auto);
   position: fixed;
   .header__image {
      display: block;
      height: 100vh;
      margin: 0 auto;
      background: url(../img/space_planet_sky_94434_3840x2160.jpg) no-repeat bottom center / cover;
      animation: color 20s linear infinite;
   }
   .header__title--big {
      @include header-title($top: 35%);
      h1 {
         color: #fff;
         font-size: 2.2rem;
         opacity: 0;
         margin: 0 auto;
         padding: 0.5rem;
         text-shadow: 3px 3px 5px black;
         @include media-query(xsmall) {
            font-size: 3rem;
         }
         @include media-query(small) {
            font-size: 4rem;
         }
         @include media-query(medium) {
            font-size: 5rem;
         }
         @include media-query(xlarge) {
            font-size: 7rem;
         }
      }
   }
   .header__title--small {
      @include header-title($top: 50%);
      h2 {
         color: rgb(255, 255, 255);
         font-size: 0.8rem;
         opacity: 0;
         margin: 0 auto;
         padding: 0.5rem;
         text-shadow: 3px 3px 5px black;
         @include media-query(xsmall) {
            font-size: 1.1rem;
         }
         @include media-query(small) {
            font-size: 1.4rem;
         }
         @include media-query(medium) {
            font-size: 1.7rem;
         }
         @include media-query(xlarge) {
            font-size: 1.9rem;
         }
      }
   }
}

@keyframes growText {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.disappear {
   opacity: 0;
}

.header__title--big-grow h1 {
   animation-name: growText;
   animation-duration: 2s;
   animation-delay: 0.5s;
   animation-fill-mode: forwards;
   z-index: 10;
}

.header__title--small-grow h2 {
   animation-name: growText;
   animation-duration: 1s;
   animation-delay: 1.5s;
   animation-fill-mode: forwards;
   // z-index: 10;
}

@keyframes color {
   0% {
      filter: hue-rotate(0deg);
   }

   50% {
      filter: hue-rotate(360deg);
   }

   100% {
      filter: hue-rotate(0deg);
   }
}
