.header__container {
   @include containers($height: auto);
   position: relative;
   .header__image {
      display: block;
      width: 100vw;
   }
   .header__title--big {
      @include header-title;
      h1 {
         color: #fff;
         font-size: 8vw;
         opacity: 0;
         margin: auto 0;
         padding-left: 0.5rem;
      }
   }
   .header__title--small {
      @include header-title($height: 20%, $top: 60%);
      h2 {
         color: rgba(255, 255, 255, 0.6);
         font-size: 4vw;
         opacity: 0;
         margin: auto 0;
         padding-left: 0.5rem;
      }
   }
}

@keyframes growH1 {
   0% {
      width: 0;
   }
   100% {
      width: 80%;
   }
}

.header__title--big-grow {
   animation-name: growH1;
   animation-duration: 2s;
   animation-fill-mode: forwards;
}

@keyframes growH2 {
   0% {
      width: 0;
   }
   100% {
      width: 60%;
   }
}

.header__title--small-grow {
   animation-name: growH2;
   animation-duration: 3s;
   animation-fill-mode: forwards;
}

@keyframes growText {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
.header__title--big-grow h1 {
   animation-name: growText;
   animation-duration: 2s;
   animation-delay: 2s;
   animation-fill-mode: forwards;
}

.header__title--small-grow h2 {
   animation-name: growText;
   animation-duration: 1s;
   animation-delay: 3s;
   animation-fill-mode: forwards;
}
