.slider__container {
   @include containers;
   display: flex;
   justify-content: center;
   align-items: center;
   .slider__button--red {
      @include buttons($button-color-red);
      &:active {
         @include buttons-activate;
      }
      &:hover {
         background: lighten($button-color-red, 10%);
      }
   }
   .slider__button--blue {
      @include buttons($button-color-blue);
      &:active {
         @include buttons-activate;
      }
      &:hover {
         background: lighten($button-color-blue, 25%);
      }
   }
   h2 {
      @include titles;
   }
}
