*,
*:before,
*:after {
   box-sizing: border-box;
}

@font-face {
   font-family: syne;
   src: url(../font/SyneMono-Regular.ttf);
}

body {
   margin: 0px;
   font-family: syne, Georgia, "Times New Roman", Times, serif;
}

p {
   font-size: 1.1rem;
   line-height: 1.7rem;
}

@import "_variables.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_gallery.scss";
@import "_article.scss";
@import "_footer.scss";
